<div class="page-header">
  <h1>后台管理</h1>
</div>

<%= render "menuitems/menuitems" %>

<hr/>

<% Page.where(list_id: nil).each do |page| %>
/<%= page.permalink %> <%= page.title %>
<% end %>
<%= form_for Page.new do |f| %>
  <%= f.text_field :youdao_url, placeholder: "Youdao Url", required: true, class: "input-xxlarge" %>
  <%= f.submit "新 增", class: "btn" %>
<% end %>

<hr/>

<%= form_for List.new do |f| %>
/<%= f.text_field :permalink, placeholder: "permalink", required: true, class: "input-small" %>
<%= f.submit "新 增", class: "btn" %>
<% end %>
<% List.all.each do |list| %>
  <h3>/<%= list.permalink %></h3>
  <% list.pages.each do |page| %>
    /<%= page.permalink %> <%= page.title %><br/>
  <% end %>
  <%= form_for Page.new do |f| %>
  <%= hidden_field_tag :list_id, list.id %>
  <%= f.text_field :youdao_url, placeholder: "Youdao Url", required: true, class: "input-xxlarge" %>
  <%= f.submit "新 增", class: "btn" %>
  <% end %>
<% end %>
